<tr>
  <td><%= obj.status %></td>
  <td><%= obj.data %></td>
  <td><%= obj.responsavel %></td>
  <td><%= obj.lojas %></td>
  <td><%= obj.codInt %></td>
  <td><%= obj.produto %></td>
  <td><%= obj.descDefeito %></td>
  <td><%= obj.codFornecedor %></td>
  <td><%= obj.fornecedor %></td>
  <td><%= obj.nfCompra %></td>
  <td><%= obj.emissaoNfCompra %></td>
  <td><%= obj.codigoProdutoFornecedor %></td>
  <td><%= obj.quantidade %></td>
  <td><%= obj.valorUniNota %></td>
  <td><%= obj.quantidade*obj.valorUniNota %></td>
  <td><%= obj.nfVenda %></td>
  <td><%= obj.emissaoNfVenda %></td>
  <td><%= obj.nomeCliente %></td>
  <td><%= obj.nfGarantia %></td>
  <td><%= obj.emissaoNfGarantia %></td>
  <td><%= obj.dataDaColeta %></td>
</tr>