<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>replit</title>
		<link href="/style/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		
		<% if (item === null) { %>
			<div class="form-box">
				<%- include('./components/formInclude') %>
			</div>
		<% } else { %>
			<div class="form-box openForm">
				<%- include('./components/formEdit', {obj: item}) %>
			</div>
		<% } %> 

		<% if (item === null) { %>
			<header>
				<button class="open-form-button" onclick="openForm()">+</button>
				<div class="nome"><a href="/All">Garantias</a></div>
			</header>
		<% } else { %>
			<header class="header-with-form-open" style="background-color: rgb(125, 0, 0)">
				<button class="open-form-button rotate" onclick="openForm()">+</button>
				<div class="nome"><a href="/All">Garantias</a></div>
			</header>
		<% } %>

		<main>
			<ul>
				<% if (statusItem === null && filter === null) {%>
					<% dataList.forEach((list) => { %>
						<%- include('./components/li', {obj: list}) %>
					<% }) %>
				<% } else if (filter === null && dataList === null) { %>
					<% statusItem.forEach((list) => { %>
						<%- include('./components/li', {obj: list}) %>
					<% }) %>
				<% } else if (statusItem === null && dataList === null) { %>
					<% filter.forEach((list) => { %>
						<%- include('./components/li', {obj: list}) %>
					<% }) %>
				<% } %>
			</ul>
		</main>
			
		<nav>
			<div class="options">
				<button class="Todas">
					<a href="/All">Lançado</a>
				</button>
				<button class="Aberto">
					<a href="/Aberto">Aberto</a>
				</button>
				<button class="Enviado">
					<a href="/Enviado">Enviado</a>
				</button>
				<button class="Finalizado">
					<a href="/Finalizado">Finalizado</a>
				</button>
				<button class="Recusado">
					<a href="/Recusado">Recusado</a>
				</button>
			</div>
			<div class="filters">
				<form action="/filter" method="post" >
					<input class="search" type="text" name="Codigo" placeholder="Codigo">
					<input class="search" type="text" name="Descricao" placeholder="Descrição">
					<input class="search" type="text" name="Fornecedor" placeholder="Fornecedor">
					<button type="submit">Pesquisar</button>
				</form>
			</div>
		</nav>

		<% if (itemDel != null) { %>
			<%- include('./components/modal', {obj: itemDel}) %>
		<% } %>
		<script src="/js/script.js"></script>
	</body>
</html>
