<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>replit</title>
		<link href="/style/style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		
		<% if (item === null) { %>
			<div class="form-box">
				<form action="/save" method="post">
					<!-- ********************* PARTE UM ********************* -->
					<section class="parte-um partes">
						<!-- ----------------LINHA UM---------------- -->
						<div class="linha-um linhas">
							<div class="box">
								<label for="lojas">Loja</label>
								<input name="lojas" id="lojas" type="text" />
							</div>

							<div class="box">
								<label for="data">Data</label>
								<input name="data" id="data" type="date" />
							</div>

							<div class="box">
								<label for="responsavel">Responsável</label>
								<input name="responsavel" id="responsavel" type="text" />
							</div>
						</div>
						<!-- ----------------LINHA DOIS---------------- -->
						<div class="linha-dois linhas">
							<div class="box">
								<label for="codInt">Código Produto - LOJA</label>
								<input name="codInt" id="codInt" type="number" />
							</div>

							<div class="box">
								<label for="codigoProdutoFornecedor"
									>Código Produto - MARCA</label
								>
								<input
									name="codigoProdutoFornecedor"
									id="codigoProdutoFornecedor"
									type="text"
								/>
							</div>

							<div class="box">
								<label for="produto">Produto</label>
								<input name="produto" id="produto" type="text" />
							</div>

							<div class="box">
								<label for="codFornecedor">Codigo Fornecedor</label>
								<input name="codFornecedor" id="codFornecedor" type="number" />
							</div>

							<div class="box">
								<label for="fornecedor">Fornecedor</label>
								<input name="fornecedor" id="fornecedor" type="text" />
							</div>
						</div>
						<!-- ----------------LINHA TRES---------------- -->
						<div class="linha-tres linhas">
							<div class="box">
								<label for="nfCompra">NF Compra</label>
								<input name="nfCompra" id="nfCompra" type="number" />
							</div>

							<div class="box">
								<label for="emissaoNfCompra">Emissão</label>
								<input name="emissaoNfCompra" id="emissaoNfCompra" type="date" />
							</div>

							<div class="box">
								<label for="quantidade">Quantidade</label>
								<input name="quantidade" id="quantidade" type="number" />
							</div>

							<div class="box">
								<label for="valorUniNota">Valor</label>
								<input
									name="valorUniNota"
									id="valorUniNota"
									type="number"
									step="0.01"
								/>
							</div>
						</div>
						<!-- ----------------LINHA QUATRO---------------- -->
						<div class="linha-quatro linhas">
							<div class="box">
								<label for="descDefeito">Descrição do defeito</label>
								<input name="descDefeito" id="descDefeito" type="text" />
							</div>
						</div>
					</section>

					<!-- ********************* PARTE DOIS ********************* -->
					<section class="parte-dois partes">
						<!-- ----------------LINHA CINCO---------------- -->
						<div class="linha-cinco linhas">
							<div class="box">
								<label for="nfVenda">NF Venda</label>
								<input name="nfVenda" id="nfVenda" type="number" />
							</div>

							<div class="box">
								<label for="emissaoNfVenda">Emissão</label>
								<input name="emissaoNfVenda" id="emissaoNfVenda" type="date" />
							</div>

							<div class="box">
								<label for="nomeCliente">Nome do Cliente</label>
								<input name="nomeCliente" id="nomeCliente" type="text" />
							</div>
						</div>
					</section>

					<!-- ********************* PARTE TRES ********************* -->
					<section class="parte-tres partes">
						<!-- ----------------LINHA SEIS---------------- -->
						<div class="linha-seis linhas">
							<div class="box">
								<label for="numOs">N° OS</label>
								<input name="numOs" id="numOs" type="number" />
							</div>

							<div class="box">
								<label for="nfGarantia">NF Garantia</label>
								<input name="nfGarantia" id="nfGarantia" type="number" />
							</div>

							<div class="box">
								<label for="emissaoNfGarantia">Emissão</label>
								<input
									name="emissaoNfGarantia"
									id="emissaoNfGarantia"
									type="date"
								/>
							</div>
						</div>
						<!-- ----------------LINHA SETE---------------- -->
						<div class="linha-sete linhas">
							<div class="box">
								<label for="observacao">Obs</label>
								<input name="observacao" id="observacao" type="text" />
							</div>
						</div>
					</section>
					<!-- ********************* PARTE QUATRO ********************* -->
					<!-- ----------------LINHA OITO---------------- -->
					<button id="add-data" type="submit">Adicionar</button>
				</form>
			</div>
		<% } else { %>
			<div class="form-box openForm">
				<form action="/update/<%= item._id %>" method="post">
					<!-- ********************* PARTE UM ********************* -->
					<section class="parte-um partes">
						<!-- ----------------LINHA UM---------------- -->
						<div class="linha-um linhas">
							<div class="box">
								<label for="status">Status da Garantia</label>
								<div class="box">
									<input type="text" list="opcoes" name="status" value="<%= item.status %>">
									<datalist id="opcoes">
										<option value="Aberto">
										<option value="Enviado">
										<option value="Recusado">
										<option value="Finalizado">
									</datalist>
								</div>
							</div>

							<div class="box">
								<label for="lojas">Loja</label>
								<input
									id="lojas"
									name="lojas"
									type="text"
									value="<%= item.lojas %>"
								/>
							</div>

							<div class="box">
								<label for="data">Data</label>
								<input
									name="data"
									id="data"
									type="date"
									value="<%= item.data %>"
								/>
							</div>

							<div class="box">
								<label for="responsavel">Responsável</label>
								<input
									id="responsavel"
									name="responsavel"
									type="text"
									value="<%= item.responsavel %>"
								/>
							</div>
						</div>
						<!-- ----------------LINHA DOIS---------------- -->
						<div class="linha-dois linhas">
							<div class="box">
								<label for="codInt">Código Produto - LOJA</label>
								<input
									name="codInt"
									id="codInt"
									type="number"
									value="<%= item.codInt %>"
								/>
							</div>

							<div class="box">
								<label for="codigoProdutoFornecedor"
									>Código Produto - MARCA</label
								>
								<input
									name="codigoProdutoFornecedor"
									id="codigoProdutoFornecedor"
									type="text"
									value="<%= item.codigoProdutoFornecedor %>"
								/>
							</div>

							<div class="box">
								<label for="produto">Produto</label>
								<input
									name="produto"
									id="produto"
									type="text"
									value="<%= item.produto %>"
								/>
							</div>

							<div class="box">
								<label for="codFornecedor">Codigo Fornecedor</label>
								<input
									name="codFornecedor"
									id="codFornecedor"
									type="number"
									value="<%= item.codFornecedor %>"
								/>
							</div>

							<div class="box">
								<label for="fornecedor">Fornecedor</label>
								<input
									name="fornecedor"
									id="fornecedor"
									type="text"
									value="<%= item.fornecedor %>"
								/>
							</div>
						</div>
						<!-- ----------------LINHA TRES---------------- -->
						<div class="linha-tres linhas">
							<div class="box">
								<label for="nfCompra">NF Compra</label>
								<input
									name="nfCompra"
									id="nfCompra"
									type="text"
									value="<%= item.nfCompra %>"
								/>
							</div>

							<div class="box">
								<label for="emissaoNfCompra">Emissão</label>
								<input
									name="emissaoNfCompra"
									id="emissaoNfCompra"
									type="date"
									value="<%= item.emissaoNfCompra%>"
								/>
							</div>

							<div class="box">
								<label for="quantidade">Quantidade</label>
								<input
									name="quantidade"
									id="quantidade"
									type="number"
									value="<%= item.quantidade %>"
								/>
							</div>

							<div class="box">
								<label for="valorUniNota">Valor</label>
								<input
									name="valorUniNota"
									id="valorUniNota"
									type="number"
									step="0.01"
									value="<%= item.valorUniNota %>"
								/>
							</div>
						</div>
						<!-- ----------------LINHA QUATRO---------------- -->
						<div class="linha-quatro linhas">
							<div class="box">
								<label for="descDefeito">Descrição do defeito</label>
								<input
									name="descDefeito"
									id="descDefeito"
									type="text"
									value="<%= item.descDefeito %>"
								/>
							</div>
						</div>
					</section>

					<!-- ********************* PARTE DOIS ********************* -->
					<section class="parte-dois partes">
						<!-- ----------------LINHA CINCO---------------- -->
						<div class="linha-cinco linhas">
							<div class="box">
								<label for="nfVenda">NF Venda</label>
								<input
									name="nfVenda"
									id="nfVenda"
									type="number"
									value="<%= item.nfVenda %>"
								/>
							</div>

							<div class="box">
								<label for="emissaoNfVenda">Emissão</label>
								<input
									name="emissaoNfVenda"
									id="emissaoNfVenda"
									type="date"
									value="<%= item.emissaoNfVenda%>"
								/>
							</div>

							<div class="box">
								<label for="nomeCliente">Nome do Cliente</label>
								<input
									name="nomeCliente"
									id="nomeCliente"
									type="text"
									value="<%= item.nomeCliente %>"
								/>
							</div>
						</div>
					</section>

					<!-- ********************* PARTE TRES ********************* -->
					<section class="parte-tres partes">
						<!-- ----------------LINHA SEIS---------------- -->
						<div class="linha-seis linhas">
							<div class="box">
								<label for="numOs">N° OS</label>
								<input
									name="numOs"
									id="numOs"
									type="number"
									value="<%= item.numOs %>"
								/>
							</div>

							<div class="box">
								<label for="nfGarantia">NF Garantia</label>
								<input
									name="nfGarantia"
									id="nfGarantia"
									type="number"
									value="<%= item.nfGarantia %>"
								/>
							</div>

							<div class="box">
								<label for="emissaoNfGarantia">Emissão</label>
								<input
									name="emissaoNfGarantia"
									id="emissaoNfGarantia"
									type="date"
									value="<%= item.emissaoNfGarantia%>"
								/>
							</div>

							<div class="box">
								<label for="dataDaColeta">Data da Coleta</label>
								<input
									name="dataDaColeta"
									id="dataDaColeta"
									type="date"
									value="<%= item.dataDaColeta%>"
								/>
							</div>
						</div>
						<!-- ----------------LINHA SETE---------------- -->
						<div class="linha-sete linhas">
							<div class="box">
								<label for="observacao">Obs</label>
								<input
									name="observacao"
									id="observacao"
									type="text"
									value="<%= item.observacao %>"
								/>
							</div>
						</div>
					</section>
					<!-- ********************* PARTE QUATRO ********************* -->
					<!-- ----------------LINHA OITO---------------- -->
					<button id="add-data" type="submit">Atualizar</button>
				</form>
			</div>
		<% } %> 

		<% if (item === null) { %>
			<header>
				<button class="open-form-button" onclick="openForm()">+</button>
				<div class="nome"><a href="/All">Garantias</a></div>
			</header>
		<% } else { %>
			<header class="header-with-form-open" style="background-color: rgb(125, 0, 0)">
				<button class="open-form-button rotate" onclick="openForm()">+</button>
				<div class="nome"><a href="/All">Garantias</a></div>
			</header>
		<% } %>

		<main>
			<ul>
				<% if (statusItem === null) {%>
					<% dataList.forEach((list) => { %>
						<li>
							<div class="principalInfo">
								<div class="select">
									<div class="itemData">
										<p class="desc">Status</p>
										<input
											disabled
											type="text"
											class="inputData status"
											value="<%= list.status %>"
										/>
									</div>	
								</div>
								<div class="infoData">
									<div class="itemData" id="codigo">
										<p class="desc">Cod:</p>
										<input
											disabled
											type="text"
											class="inputData"
											value="<%= list.codInt %>"
										/>
									</div>
									<div class="itemData" id="produto">
										<p class="desc">Desc:</p>
										<input
											disabled
											type="text"
											class="inputData"
											value="<%= list.produto %>"
										/>
									</div>
									<div class="itemData" id="fornecedor">
										<p class="desc">Forn:</p>
										<input
											disabled
											type="text"
											class="inputData"
											value="<%= list.fornecedor %>"
										/>
									</div>
								</div>
								<div class="buttons">
									<div class="buttonData" id="edit">
										<a
											class="edit-and-delete-button"
											href="/<%= list.status %>/getById/<%= list._id %>/update"
										>
											<svg
												id="edit-icon"
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-pencil-square"
												viewBox="0 0 16 16"
											>
												<path
													d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
												/>
												<path
													fill-rule="evenodd"
													d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
												/>
											</svg>
										</a>
									</div>
									<div class="buttonData" id="remove">
										<a
											class="edit-and-delete-button"
											href="/<%= list.status %>/getById/<%= list._id %>/delete"
										>
											<svg
												id="delete-icon"
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-trash-fill"
												viewBox="0 0 16 16"
											>
												<path
													d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
												/>
											</svg>
										</a>
									</div>
								</div>
								<div class="showData">
									<button class="buttonShowData">+</button>
								</div>
							</div>
							<div class="hiddenInformation">
								<div class="colunmTop">

									<div class="Line">
										<div class="itemData">
											<p class="desc">Loja:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.lojas %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.data %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Responsável:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.responsavel %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">COD Prod na NF:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.codigoProdutoFornecedor %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">Cod. Forn:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.codFornecedor %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">NF Compra:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nfCompra %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data de Emissão:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.emissaoNfCompra %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">Quantidade:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.quantidade %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Valor Uni. NF:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.valorUniNota %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Valor Total:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.quantidade*list.valorUniNota %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">NF/OS de Venda:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nfVenda %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data de Emissão:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.emissaoNfVenda %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Nome do Cliente:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nomeCliente %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">NF de Garantia:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nfGarantia %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data de emissão:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.emissaoNfGarantia %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data da coleta:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.dataDaColeta %>"
											/>
										</div>
									</div>
								</div>
								<div class="colunmBottom">
									<div class="defeito">
										<p class="desc">Defeito:</p>
										<input
											disabled
											type="text"
											class="inputData"
											id="inputDefeito"
											value="<%= list.descDefeito %>"
										/>
									</div>
									<div class="observacao">
										<p class="desc">Observações:</p>
										<input
											disabled
											type="text"
											class="inputData"
											id="inputObs"
											value="<%= list.observacao %>"
										/>
									</div>
								</div>	
							</div>
						</li>
					<% }) %>
				<% } else { %>
					<% statusItem.forEach((list) => { %>
						<li>
							<div class="principalInfo">
								<div class="select">
									<div class="itemData">
										<p class="desc">Status</p>
										<input
											disabled
											type="text"
											class="inputData status"
											value="<%= list.status %>"
										/>
									</div>	
								</div>
								<div class="infoData">
									<div class="itemData" id="codigo">
										<p class="desc">Cod:</p>
										<input
											disabled
											type="text"
											class="inputData"
											value="<%= list.codInt %>"
										/>
									</div>
									<div class="itemData" id="produto">
										<p class="desc">Desc:</p>
										<input
											disabled
											type="text"
											class="inputData"
											value="<%= list.produto %>"
										/>
									</div>
									<div class="itemData" id="fornecedor">
										<p class="desc">Forn:</p>
										<input
											disabled
											type="text"
											class="inputData"
											value="<%= list.fornecedor %>"
										/>
									</div>
								</div>
								<div class="buttons">
									<div class="buttonData" id="edit">
										<a
											class="edit-and-delete-button"
											href="/<%= list.status %>/getById/<%= list._id %>/update"
										>
											<svg
												id="edit-icon"
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-pencil-square"
												viewBox="0 0 16 16"
											>
												<path
													d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
												/>
												<path
													fill-rule="evenodd"
													d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
												/>
											</svg>
										</a>
									</div>
									<div class="buttonData" id="remove">
										<a
											class="edit-and-delete-button"
											href="/<%= list.status %>/getById/<%= list._id %>/delete"
										>
											<svg
												id="delete-icon"
												xmlns="http://www.w3.org/2000/svg"
												width="16"
												height="16"
												fill="currentColor"
												class="bi bi-trash-fill"
												viewBox="0 0 16 16"
											>
												<path
													d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
												/>
											</svg>
										</a>
									</div>
								</div>
								<div class="showData">
									<button class="buttonShowData">+</button>
								</div>
							</div>
							<div class="hiddenInformation">
								<div class="colunmTop">

									<div class="Line">
										<div class="itemData">
											<p class="desc">Loja:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.lojas %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.data %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Responsável:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.responsavel %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">COD Prod na NF:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.codigoProdutoFornecedor %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">Cod. Forn:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.codFornecedor %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">NF Compra:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nfCompra %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data de Emissão:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.emissaoNfCompra %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">Quantidade:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.quantidade %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Valor Uni. NF:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.valorUniNota %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Valor Total:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.quantidade*list.valorUniNota %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">NF/OS de Venda:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nfVenda %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data de Emissão:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.emissaoNfVenda %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Nome do Cliente:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nomeCliente %>"
											/>
										</div>
									</div>

									<div class="Line">
										<div class="itemData">
											<p class="desc">NF de Garantia:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.nfGarantia %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data de emissão:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.emissaoNfGarantia %>"
											/>
										</div>
										<div class="itemData">
											<p class="desc">Data da coleta:</p>
											<input
												disabled
												type="text"
												class="inputData"
												value="<%= list.dataDaColeta %>"
											/>
										</div>
									</div>
								</div>
								<div class="colunmBottom">
									<div class="defeito">
										<p class="desc">Defeito:</p>
										<input
											disabled
											type="text"
											class="inputData"
											id="inputDefeito"
											value="<%= list.descDefeito %>"
										/>
									</div>
									<div class="observacao">
										<p class="desc">Observações:</p>
										<input
											disabled
											type="text"
											class="inputData"
											id="inputObs"
											value="<%= list.observacao %>"
										/>
									</div>
								</div>	
							</div>
						</li>
					<% }) %>
				<% } %>
			</ul>
		</main>
			
		<nav>
			<div class="options">
				<button class="Aberto">
					<a href="/Aberto">Aberto</a>
				</button>
				<button class="Enviado">
					<a href="/Enviado">Enviado</a>
				</button>
				<button class="Finalizado">
					<a href="/Finalizado">Finalizado</a>
				</button>
				<button class="Recusado">
					<a href="/Recusado">Recusado</a>
				</button>
			</div>
		</nav>

		<% if (itemDel != null) { %>
			<section id="modal">
				<div id="card">
					<div id="fechar">
						<a href="/">x</a>
					</div>
					<h2>Confirmação</h2>
					<hr />
					<div id="confirm">
						<p>Deseja mesmo apagar este item? <%= itemDel.codInt %></p>
					</div>
					<div id="btnNot">
						<a href="/">Não</a>
					</div>
					<div id="btnYes">
						<a href="/delete/<%= itemDel._id %>">Sim</a>
					</div>
				</div>
			</section>
		<% } %>
		<script src="/js/script.js"></script>
	</body>
</html>
